
.container {
  width: 35%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border: 4px solid;
  padding: 10px;
}


#title {
  margin-bottom: 0;
}

#sub-title {
  margin-top: 1vh;
}

.large-bar {
  height: 10px;
  background-color: black;
}

.medium-bar {
  height: 5px;
  background-color: black;
  margin-top: 10px;
}

.small-bar {
  height: 1px;
  background-color: gray;
  margin-top: 10px;
}

h1, h2, h3, h4, p {
  font-family: "Roboto Mono", sans-serif;
}

h4 {
  margin-top: 0;
  font-weight: lighter;
  margin-left: 20px;
  display: inline;
}

#indicator {
  /* float: right; */
  font-weight: 700;
  text-align: right;

}

.section-title {
  display: inline;
  font-weight: 700;
  margin-top: 0;
}

.number {
    display: inline;
    float: right;
    font-size: 2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;

}

.number-small {
    display: inline;
    float: right;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;

}

.fat-weight {
  font-size: 1em;
  font-weight: lighter;
}







/* Tablet media queries */

@media (max-width: 960px) {
  .container {
    width: 50%;
  }

}
